doctype html
html(lang='en')
  head
    title hi，欢迎加入
  body
    h1 Welcome.
    #container.col
      p Hello World 
      p 这仅仅是个演示模板哦，使用pug模板，你也可以使用ejs
      ul
        li enjoy life
        li enjoy yourself
